@model IEnumerable<CourseModel>
@{
	ViewData["Title"] = "Моите курсове";
}

@if (!Model.Any())
{
	<div class="container push">
		<h1 class="display-1">Нямате добавени курсове</h1>
	</div>
}
else
{
	<div class="album py-5 push">
		<div class="container">
			<h1 class="display-6">@ViewData["Title"]</h1>
			<div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-4">
				@foreach (var course in Model)
				{
					<div class="col">
						<div class="card shadow-sm h-100">

							<img src="@course.CourseImageURL" class="card-img-top" alt="Course Image Thumbnail">
							<div class="card-body">
								<h4>@course.CourseName</h4>
								<p class="card-text text-muted" style="white-space: nowrap; text-overflow: ellipsis; overflow:hidden;">
									@course.CourseDescription
								</p>
								@if (course.Website != null)
								{
									<p class="card-text text-muted">@course.Website</p>
								}
								<p class="card-text text-muted">@course.PhoneNumber</p>
							</div>
							<div class="d-flex justify-content-between align-items-center">
								<div class="btn-group">
									<form asp-route-courseId="@course.Id" asp-area="Academy" asp-controller="Courses" asp-action="EditCourse" method="get">
										<input type="submit" class="btn btn-sm btn-success m-1" value="Промени информацията за курса" />
									</form>
								</div>
							</div>
						</div>
					</div>
				}
			</div>
		</div>
	</div>
}



