@model BlogPostModel;

@{
	ViewBag.Title = "Добави блог пост.";
}

<div class="container push">
	<h2 class="text-center mt-5">@ViewBag.Title</h2>
	<hr />

	<div class="row">
		<div class="col-sm-12 offset-lg-2 col-lg-8 offset-xl-3 col-xl-6">
			<form method="post">
				<div class="mb-3">
					<label asp-for="@Model.Title" class="form-label"></label>
					<input asp-for="@Model.Title" class="form-control" aria-required="true" />
					<span asp-validation-for="Title" class="text-danger"></span>
				</div>
				<div class="mb-3">
					<label asp-for="@Model.PostText" class="form-label"></label>
					<textarea asp-for="@Model.PostText" class="form-control" aria-required="true"></textarea>
					<span asp-validation-for="PostText" class="text-danger"></span>
				</div>
				<div class="mb-3">
					<label asp-for="@Model.PostTextHeadingImageURL" class="form-label"></label>
					<input asp-for="@Model.PostTextHeadingImageURL" class="form-control" aria-required="true" />
					<span asp-validation-for="PostTextHeadingImageURL" class="text-danger"></span>
				</div>
				<div class="mb-3">
					<label asp-for="@Model.PostThumbnailURL" class="form-label"></label>
					<input asp-for="@Model.PostThumbnailURL" class="form-control" aria-required="true" />
					<span asp-validation-for="PostThumbnailURL" class="text-danger"></span>
				</div>
				<div class="mb-3">
					<input class="btn btn-success" type="submit" value="Добави" />
				</div>
			</form>
		</div>
	</div>
</div>

@section Scripts {
	<partial name="_ValidationScriptsPartial" />
}