@model IEnumerable<BlogPostModel>


<section>
	<div class="album py-5 push">
		<div class="container">
			<h1 class="display-6">@ViewData["Title"]</h1>
			<div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-4">
				@foreach (var item in Model)
				{
					<div class="col">
						<div class="card shadow-sm h-100">

								<img src="@item.PostThumbnailURL" class="card-img-top" alt="Blog post image thumbnail.">
							<div class="card-body">
								<h4>@item.Title</h4>
								@if (item.PostText.Length > 10)
								{
									<p class="card-text" style="white-space: nowrap; text-overflow: ellipsis; overflow:hidden;">
										@item.PostText
									</p>
								}
								else
								{
									<p class="card-text">
										@item.PostText
									</p>
								}
								<div class="d-flex justify-content-between align-items-center">
									<div class="btn-group">
										<button type="button" class="btn btn-sm btn-outline-secondary m-1">Прочети повече</button>
									</div>
									<small class="text-muted">@item.CreatedOn.ToString("dd/MM/yyyy")</small>
								</div>
							</div>
						</div>
					</div>
				}

			</div>
		</div>
	</div>

</section>

